body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 113, 214);
    margin: 0;
    color: white;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
